﻿@model Section3Advanced.Models.UserInputModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add user</title>
    <style>
        .row {
            margin-bottom: 10px;
        }
        .row > *:first-child {
            width: 90px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Add a new user</h1>
    <form method="post">
        <div class="row">
            @Html.LabelFor(model => model.FirstName)
            <input asp-for="FirstName" name="FirstName" />
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="row">
            @Html.LabelFor(model => model.LastName)
            <input asp-for="LastName" name="LastName" />
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Age)
            <input asp-for="Age" name="Age" />
            @Html.ValidationMessageFor(model => model.Age)
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Email)
            <input asp-for="Email" name="Email" />
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <button type="submit" value="Save">Save</button>
    </form>
</body>
</html>
