﻿@using Section3Advanced.Models
@model IEnumerable<User>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Users</title>
</head>
<body>
    <div>
        <h1>Users</h1>
        @Html.ActionLink("Add user", "AddUser", "Home")
        <ul>
            @foreach (User user in Model)
            {
                <li>
                    <h2>@user.FirstName @user.LastName</h2>
                    <div>First name: @user.FirstName</div>
                    <div>Last name: @user.LastName</div>
                    <div>Age: @user.Age</div>
                    <div>Email: @user.Email</div>
                </li>
            }
        </ul>
    </div>
</body>
</html>